
<link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>

<style type="text/css">
	body{
		text-align: center;
	}
</style>

<div class="container">
{% if data %}
<table class="responsive">
		{% for each in data %}
		<tr>
			<td>{{each.itemName}}</td>
			<td>{{each.qty}}</td>
			<td>{{each.price}}</td>
		</tr>
		{% endfor %}
</table>
Sum = {{Sum}}<br>
Tax = {{Tax}}<br>
Total amount = {{Total}}<br>
t {{t}}
{{Temp}}
{% endif %}
</div>