<link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>          
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
<style>
	th td{
		align: center;
	}
</style>
<div class="col s1 card-panel flow-text">
    <head>
        <h3>Fault in Our Code</h3>
    </head>
</div>
<div class="flow-text container">
<table class="striped">
        <thead>
          <tr>
              <th><h3>Team - Azor Ahai(HackFest)</h3></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><h5><a target="blank" href="/GSTBilling/home/">GST Billing</a></h5></td>
          </tr>
          <tr>
            <td><h5><a target="blank" href="/weather/home/">Get Live Weather</a></h5></td>
          </tr>
          <tr>
            <td><h5><a target="blank" href="/admin">Python Web App</a></td>
          </h5></tr>
        </tbody>
      </table>
</div>