<link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>          
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
<style>
	th td{
		align: center;
	}
      .foot{
        text-align: right;
        position:absolute;
           bottom:0;
           width:100%;
    }
</style>
<div class="col s1 card-panel flow-text">
    <head>
        <h3>Fault in Our Code</h3>
        <title>Welcome - Fault in Our Code</title>
    </head>
</div>
<div class="flow-text container">
<table class="striped">
        <thead>
          <tr>
              <th><h3>Team - Azor Ahai(HackFest)</h3></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><h5><a target="blank" href="/GSTBilling/home/">GST Billing</a></h5></td>
          </tr>
          <tr>
            <td><h5><a target="blank" href="/weather/home/">Get Live Weather</a></h5></td>
          </tr>
          <tr>
            <td><h5><a target="blank" href="/admin">Python Web App CRUD</a></td>
          </h5></tr>
        </tbody>
      </table>


<table class="striped">
       <thead>
          <tr>
              <th><h3>Team Members</h3></th>
          </tr>
        </thead>
    <tbody>
          <tr>
            <td><h5><a href="https://github.com/laxmena">Lakshmanan Meiyappan (GitHub: @laxmena)</a></h5></td>
          </tr>
          <tr>
            <td><h5><a href="https://github.com/Pratul7">Pratul Palaniappa (GitHub: @Pratul7)</a></h5></td>
          </tr>

        </tbody>
      </table>

</table>
</div>

<div class="col s1 card-panel page-footer flow-text foot" style="text-align:center">
    <footer>copyright © Team Fault in Our Code</footer>
</div>